.kd-logo-animate {

  &:hover,
  &:focus {
    .kd-logo {
      transform: rotate(-90deg);

      .kd-logo-heart {
        backface-visibility: visible;
        transform: rotateX(180deg);
      }
    }
  }
}