button.kudos_button {

  &:hover,
  &:focus,
  &:active {
    @apply text-white no-underline shadow-none;
  }

  @apply font-sans w-auto h-auto inline-flex items-center text-center text-white select-none py-3 px-5 normal-case no-underline leading-normal font-normal rounded-lg border-none cursor-pointer shadow-none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.button-style-outline {
    border-width: 1px;
    border-style: solid;

    &:hover {
      color: #fff;
    }
  }

  &.kudos_submit {
    &::before {
      content: url("../img/lock-white.svg");
      width: 10px;
      height: auto;
      background-size: contain;
      margin: auto 5px auto 0;
    }
  }
}
