@font-face {
  font-family: 'Elephant Regular';
  src: url('../fonts/elephnt-webfont.woff2') format('woff2'),
  url('../fonts/elephnt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Sans Light';
  src: url('../fonts/merriweathersans-light-webfont.woff2') format('woff2'),
  url('../fonts/merriweathersans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
