services:
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
  paths:
    - includes/
  scanDirectories:
  bootstrapFiles:
    - kudos-donations.php