includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  inferPrivatePropertyTypeFromConstructor: true

  paths:
    - kudos-donations.php
    - uninstall.php
    - config
    - includes

  scanDirectories:
    - third-party/

  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php

  ignoreErrors:
    # example:
    # - '#Call to an undefined method.*#'

  # Optional: Only add if absolutely needed
  bootstrapFiles:
    - includes/constants.php