
{% if(block('title')) %}
<h2 class="kudos_modal_title font-normal font-serif text-4xl m-0 mb-2 text-gray-900 block text-center">
    {% block title %}{% endblock %}
</h2>
{% endif %}

{% if(block('text')) %}
<p class="kudos_modal_text text-center block font-normal mb-4">
    {% block text %}{% endblock %}
</p>
{% endif %}