{% extends 'emails/base.html.twig' %}

{% block preheader %}
    {{ __('Test Email', 'kudos-donations') }}
{% endblock preheader %}

{% block body %}
    <h1>{{ __('It worked!', 'kudos-donations') }}</h1>
    <p>{{ __('Looks like your email settings are set up correctly :-)', 'kudos-donations') }}</p>
{% endblock body %}