@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "libre_baskervillebold";
        src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "montserratregular";
        src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
}

*:not(path):not(svg):not(.kd-style-ignore):not(.kd-style-ignore *),
*::before,
*::after {
    all: initial;
    font-size: inherit;
    opacity: 1;
    content: none !important; /* Needed to overwrite aggressive theme selectors */
    @apply kd-font-sans kd-box-border kd-leading-normal;
}

::placeholder {
    @apply kd-font-sans;
}

.kudos-modal.is-open {
    @apply kd-block kd-overflow-x-hidden kd-overflow-y-auto !important;
}

.kd-is-loading .kd-spinner {
    @apply kd-block !important;
}

.kd-is-loading .kd-loading-overlay {
    @apply kd-opacity-50 kd-block !important;
}

.kudos-modal [data-current-tab="initial"] [data-direction="back"] {
    display: none;
}

.kd-logo-animate:hover .kd-logo {
    @apply kd--rotate-90 !important;
}
.kd-logo-animate:hover .kd-logo .kd-logo-heart {
    backface-visibility: visible;
    @apply kd-rotate-x-180 !important;
}

form[id^=kudos-form] small.error {
    @apply kd-order-last kd-mt-1 kd-block kd-text-sm kd-text-red-500;
}

form[id^=kudos-form] input.error,
form[id^=kudos-form] select.error,
form[id^=kudos-form] input.error ~ .checkmark {
    @apply kd-border-red-500 !important;
}

form[id^=kudos-form] .kudos-radio-amount {
    min-width: 65px !important;
}

form[id^=kudos-form] .kudos-radio-amount input:checked + label {
    @apply kd-text-white kd-border-transparent !important;
    background-color: var(--kudos-theme-primary) !important;
}

form[id^=kudos-form] .kudos-radio-amount input:focus + label {
    @apply kd-ring-primary kd-ring kd-ring-offset-2;
}

form[id^=kudos-form] input[name=value]:required + span {
    @apply kd-text-white kd-border-transparent !important;
    background-color: var(--kudos-theme-primary);
}

.kudos-modal[aria-hidden=false] .kudos-modal-overlay {
    @apply kd-animate-fade-in;
}

.kudos-modal[aria-hidden=false] .kudos-modal-container {
    @apply kd-animate-slide-in;
}

.kudos-modal[aria-hidden=true] .kudos-modal-overlay {
    @apply kd-animate-fade-out;
}

.kudos-modal[aria-hidden=true] .kudos-modal-container {
    @apply kd-animate-slide-out;
}

/* Base */
:root {
    --kudos-screen:xs;
}

/* 'xs' and up */
@screen xs {
    :root {
        --kudos-screen:sm;
    }
}

/* 'sm' and up */
@screen sm {
    :root {
        --kudos-screen:md;
    }
}