@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    all: initial;
}

/* Base */
:root {
    --kudos-screen: xs;
}

p {
    @apply text-base;
}

/* 'xs' and up */
@screen xs {
    :root {
        --kudos-screen: sm;
    }
}

/* 'sm' and up */
@screen sm {
    :root {
        --kudos-screen: md;
    }
}
