@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "libre_baskervillebold";
        src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "montserratregular";
        src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
}

* {
    @apply font-sans text-base leading-normal;
}

::placeholder {
    @apply font-sans;
}

.kudos-modal.is-open {
    @apply block overflow-x-hidden overflow-y-auto !important;
}

.is-loading + .spinner {
    @apply block !important;
}

.is-loading {
    @apply opacity-50 !important;
}

.kudos-modal [data-current-tab="initial"] [data-direction="back"] {
    display: none;
}

.logo-animate:hover .logo {
    @apply -rotate-90 !important;
}
.logo-animate:hover .logo .logo-heart {
    backface-visibility: visible;
    @apply rotate-x-180 !important;
}

form small.error {
    @apply order-last mt-1 block text-sm text-red-500;
}

form input.error,
form select.error,
form input.error ~ .checkmark {
    @apply border-red-500 !important;
}

form .kudos-radio-amount {
    min-width: 65px !important;
}

form .kudos-radio-amount input:checked + label {
    @apply text-white border-transparent !important;
    background-color: var(--kudos-theme-primary) !important;
}

form .kudos-radio-amount input:focus + label {
    @apply ring-primary ring ring-offset-2;
}

form input[name=value]:required + span {
    @apply text-white border-transparent !important;
    background-color: var(--kudos-theme-primary) !important;
}

.kudos-modal[aria-hidden=false] .kudos-modal-overlay {
    @apply animate-fade-in;
}

.kudos-modal[aria-hidden=false] .kudos-modal-container {
    @apply animate-slide-in;
}

.kudos-modal[aria-hidden=true] .kudos-modal-overlay {
    @apply animate-fade-out;
}

.kudos-modal[aria-hidden=true] .kudos-modal-container {
    @apply animate-slide-out;
}

/* Base */
:root {
    --kudos-screen:xs;
}

/* 'xs' and up */
@screen xs {
    :root {
        --kudos-screen:sm;
    }
}

/* 'sm' and up */
@screen sm {
    :root {
        --kudos-screen:md;
    }
}