@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    all: initial;
}

/* Base */
:root {
    --kudos-screen: xs;
}

p {
    @apply text-base;
}

.logo-animate:hover .logo {
    @apply -rotate-90;
}
.logo-animate:hover .logo-heart {
    backface-visibility: visible;
    @apply rotate-x-180;
}

/* 'xs' and up */
@screen xs {
    :root {
        --kudos-screen: sm;
    }
}

/* 'sm' and up */
@screen sm {
    :root {
        --kudos-screen: md;
    }
}
