{% macro title( text ) %}
    <h2 class="kudos_modal_title kd-font-normal kd-font-serif kd-text-4xl kd-m-0 kd-mb-2 kd-text-gray-900 kd-block kd-text-center">
        {{ text }}
    </h2>
{% endmacro %}

{% macro paragraph( text ) %}
    <p class="kd-text-lg kd-text-gray-900 kd-text-center kd-block kd-font-normal kd-mb-4">
        {{ text }}
    </p>
{% endmacro %}