@tailwind components;
@tailwind utilities;

:root {
    --wp-admin-theme-color: theme("colors.orange.500");
    --wp-admin-theme-color-darker-10: theme("colors.orange.500");
    --wp-admin-theme-color-darker-20: theme("colors.orange.700") ;
}

.intro p {
    @apply kd-text-base !important;
}

.components-radio-control__input::before,
.components-circular-option-picker__option::after,
.components-modal__frame *,
.components-modal__frame ::after,
.components-modal__frame ::before {
    box-sizing: inherit;
}

#wpcontent {
    padding-left: 0;
}

.auto-fold #wpcontent {
    padding-left: 0;
}

.kudos-dashboard-header {
    top: 32px;
}
.kudos-dashboard-header .kudos-api-status:before {
    @apply kd-rounded-full kd-inline-block kd-align-middle kd-mr-2 kd-border-2 kd-border-solid kd-border-gray-300 kd-bg-gray-500;
    content: "";
    width: 15px;
    height: 15px;
}
.kudos-dashboard-header .kudos-api-status.connected:before {
    background: #35ac35;
    border-color: #90ee90;
}
.kudos-dashboard-header .kudos-api-status.not-connected:before {
    background: red;
    border-color: lightcoral;
}

.kudos-tab-panel .components-tab-panel__tabs {
    @apply kd-flex kd-justify-center kd-bg-white;
}
.kudos-tab-panel .components-tab-panel__tabs .components-button.is-active {
    @apply kd-relative kd-font-semibold;
}
.kudos-tab-panel .components-tab-panel__tabs .components-button {
    @apply kd-text-gray-800 kd-inline-block kd-bg-transparent kd-border-none kd-cursor-pointer kd-py-1 kd-px-5 kd-ml-0 kd-transition-shadow kd-duration-100 kd-ease-linear;
    height: 50px;
    outline-offset: -1px;
}
.kudos-tab-panel .components-base-control__field {
    @apply kd-mb-4;
}
.kudos-tab-panel .components-tab-panel__tab-content {
    @apply kd-mt-5;
}

.components-tab-panel__tabs {
    @apply kd-border-solid kd-border-1 kd-border-gray-300 kd-rounded;
}

.components-radio-control .components-base-control__help,
.components-base-control__help {
    @apply kd-mt-2 kd-italic;
}

.components-snackbar {
    @apply kd-fixed kd-px-4 kd-ml-5 kd-mb-5 kd-w-auto kd-z-1 kd-opacity-0 kd-bottom-0;
}
.components-snackbar.notification-shown {
    @apply kd-opacity-100;
}

.kudos-campaign-selector .components-base-control__field {
    @apply kd-m-0;
}

.components-text-control__input,
.components-input-control__backdrop {
    @apply kd-appearance-none kd-px-4 kd-py-3 kd-border kd-border-gray-300;
}
.components-text-control__input:focus,
.components-input-control__backdrop:focus {
    @apply kd-outline-none kd-shadow-inner kd-border-orange-700;
}