@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --kudos-theme-primary: theme("colors.orange.500");
    --kudos-theme-primary-dark: theme("colors.orange.700");
}

h1 {
    @apply text-2xl font-bold leading-loose;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

.intro p {
    @apply text-base !important;
}

#wpcontent {
    padding-left: 0;
}

.auto-fold #wpcontent {
    padding-left: 0;
}