{% from "/public/modal/macros/buttons.html.twig" import button %}

<div class="has-text-align-{{ alignment }}">
    {{ button(label, 'primary', 'button', {'data-target': target, 'class': 'kudos_button_donate' }) }}
</div>