@font-face {
  font-family: 'Elephant';
  src: url("../fonts/elephnt.ttf");
}

$font-size-base: 1.2rem;
$line-height-base: 1.6;
$h1-font-size: 2.5rem;
$h2-font-size: 2.2rem;
$h3-font-size: 1.9rem;

// Colours
$theme-colors: (
  primary: #ff9f1c,
  secondary: #2ec4b6,
);

// Input
$input-border-radius: 0;
$custom-select-border-radius: 0;

// Buttons
$btn-border-radius: 10px;
$btn-padding-x: 20px;
$btn-padding-y: 10px;

// Modal
$modal-content-border-radius: 20px;
$modal-content-border-width: 0;
$modal-footer-border-width: 0;
