@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/fonts";

button.kudos_button_donate {

  //font-size: 18px;

  &:before {
    content: '';

    @apply bg-logo-white bg-contain bg-no-repeat bg-center transition-transform ease-in-out duration-500 mr-3;

    width: 25px;
    height: 25px;
  }

  &:hover {
    &:before {
      @apply transform -rotate-90;
    }
  }
}