@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/fonts";

button.kudos_button_donate {

  //font-size: 18px;

  &:before {
    content: '';

    @apply kd-bg-logo-white kd-bg-contain kd-bg-no-repeat kd-bg-center kd-transition-transform kd-ease-in-out kd-duration-500 kd-mr-3;

    width: 25px;
    height: 25px;
  }

  &:hover {
    &:before {
      @apply kd-transform kd--rotate-90;
    }
  }
}