@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wp-admin-theme-color: theme('colors.orange.500');
  --wp-admin-theme-color-darker-10: theme('colors.orange.500');
  --wp-admin-theme-color-darker-20: theme('colors.orange.700')
}

.components-radio-control__input::before,
.components-circular-option-picker__option::after {
  box-sizing: border-box;
}

.components-base-control {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 8px;
  }
}

#wpcontent {
  padding-left: 0;
}

.auto-fold {
  #wpcontent {
    padding-left: 0;
  }
}

.kudos-dashboard-header {
  padding: 20px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(213,213,213,0.5),0 1px 2px #eee;

  img {
    margin-right: 15px;
  }

  .kudos-api-status {
    color: #999;
    margin-left: 15px;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 5px;
      background: #999;
      border-width: 2px;
      border-style: solid;
      border-color: #ccc;
    }

    &.connected {
      color: green;
      &:before {
        background: #35ac35;
        border-color: #90ee90;
      }
    }

    &.not-connected {
      color: red;
      &:before {
        background: red;
        border-color: lightcoral;
      }
    }
  }

  .kudos-version {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
    font-weight: bold;
  }
}

#kudos-settings {
  .components-spinner {
    left: 50%;
    top: 50%;
    position: absolute;
  }

  .dashboard-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    width: 100%;
  }

  .kudos-admin-info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dashicon {
      margin-right: 5px;
    }
  }

  // WordPress Components

  .components-button.is-primary {
    @apply bg-orange-500;
  }

  .components-base-control__help {
    @apply mt-4 mb-0;
  }

  .components-snackbar {
    position: fixed;
    bottom: 20px;
    padding-left: 16px;
    margin-left: 20px;
    padding-right: 16px;
    z-index: 1;
    opacity: 0;
    transition: 0.2s opacity ease;
    width: auto;

    &.notification-shown {
      opacity: 1;
    }
  }

  .kudos-tab-panel {
    .components-tab-panel__tabs {
      display: flex;
      justify-content: center;
      background: #fff;
      box-shadow: 0 1px 0 rgba(213, 213, 213, 0.5), 0 1px 2px #eee;

      .components-button.is-active {
        font-weight: 600;
        position: relative;
      }

      .components-button {
        background: transparent;
        border: none;
        border-radius: 0;
        height: 50px;
        cursor: pointer;
        display: inline-block;
        padding: 3px 15px;
        margin-left: 0;
        font-weight: 400;
        color: #191e23;
        outline-offset: -1px;
        transition: box-shadow .1s linear;
      }
    }
    .components-tab-panel__tab-content {
      margin-top: 25px;
    }
  }

}
