@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/fonts";

.kudos_modal {
  *,
  *::before,
  *::after {
    all: unset;
  }

  style {
    display: none;
  }

  position: absolute;

  p {
    @apply block;
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  .payment_by {
    @apply flex justify-end items-baseline mt-3 text-right;

    &::before {
      content: '';
      width: 17px;
      height: 20px;
      background: url("../img/lock-gray.svg") no-repeat center;
      background-size: contain;
      margin: auto 5px auto 0;
    }

    &.mollie {
      &::after {
        content: '';
        width: 51px;
        height: 15px;
        background: url("../img/mollie.svg") no-repeat center left;
        background-size: contain;
        margin-left: 5px;
      }
    }
  }
}

div[id^='kudos_modal-'] {
  @import "partials/buttons";

  *,
  *::before,
  *::after {
    @apply font-sans box-border text-base leading-normal opacity-100 relative;
  }

  display: none;

  p {
    @apply text-lg text-gray-900;
  }

  h2 {
    @apply font-serif text-4xl m-0 mb-2 text-gray-900 block text-center;
  }

  button {
    cursor: pointer;
  }

  small {
    font-size: 80%;
    font-weight: 400;
    @apply text-gray-600;

    &.error {
      @apply relative;

      color: theme('colors.red.500');
    }
  }

  .kudos_modal_overlay {
    @apply flex justify-center items-center fixed top-0 left-0 w-full h-full bg-modal;

    z-index: 1050;
  }

  .kudos_modal_header {
    @apply flex items-center justify-between;
  }

  .kudos_modal_logo {
    color: green;

    &::before {
      content: '';
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/logo-colour.svg");
      background-position: center;
      width: 40px;
      height: 40px;
    }
  }

  .kudos_modal_close {
    @apply text-black p-0 no-underline leading-normal font-normal;

    background: transparent;
    border: 0;

    &::before {
      content: "\2715";
      cursor: pointer;
    }
  }

  .kudos_modal_container {
    @apply bg-white p-8 rounded-lg max-h-screen max-w-lg relative overflow-hidden;

    z-index: 1050;
    //transition: 0.6s ease all;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: -1;
      opacity: 0.7;
    }
  }

  .kudos_modal .kudos_modal_container,
  .kudos_modal .kudos_modal_overlay {
    will-change: transform;
  }

  &.is-open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .kudos_modal_title,
  .kudos_modal_text {
    @apply text-center block font-normal;
  }

  .kudos_modal_text {
    @apply mb-4;
  }

  .kudos_modal_content {
    @apply mt-4 block;
  }
}

.kudos_form_modal {
  .kudos_spinner {
    display: none;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 999;
  }

  &.kudos_loading {
    .kudos_modal_container::before {
      z-index: 1;
    }

    .kudos_spinner {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/logo-black.svg");
      animation: loader-spin 2s infinite;
    }
  }

  .form-tabs {
    display: block;
    overflow: hidden;
  }

  .form-tab {
    @apply w-full relative;
    display: none;
    &.current-tab {
      display: block;
    }
  }

  .kudos_form {
    margin: 0;
    padding: 0;

    .kudos_field {
      @apply appearance-none leading-normal bg-transparent border-2 border-solid border-gray-300 rounded w-full py-2 px-3 text-base text-gray-700;

      &:focus {
        @apply border-orange-500;
      }

      &::placeholder,
      option:disabled {
        @apply text-gray-500;
      }
    }

    label {
      @apply w-full m-0;

      &:not(:first-child) .kudos_field {
        @apply mt-2;
      }
    }


    .kudos_input_group {
      @apply block mt-4;

      .checkmark {
        @apply appearance-none absolute inline-block border-2 border-solid border-gray-300 cursor-pointer align-middle w-4 h-4 mr-2;

        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      input[type="radio"] {
        &:checked ~ .checkmark::before {
          border-radius: 9999px;
        }
      }

      input[type="radio"] ~ .checkmark {
        border-radius: 9999px;
      }

      input[type="radio"],
      input[type="checkbox"] {
        @apply mr-2;

        &:checked ~ .checkmark::before {
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @apply w-2 h-2 absolute bg-orange-500;
        }
      }

      label {
        @apply cursor-pointer pl-5;
      }
    }

    input[type="radio"]:checked + label {
      &::before {
        @apply bg-orange-500;
      }
    }

    input.error {
      border: 2px solid theme('colors.red.500');
    }
  }
}

.kudos_modal_buttons {
  @apply mt-8 block;

  .kudos_back {
    position: absolute;
    bottom: 50%;
    left: 0;
    margin: 0;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("../img/back-icon.svg") no-repeat center;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  button:last-child {
    @apply ml-3;
  }
}

.kudos_modal[aria-hidden="false"] .kudos_modal_overlay {
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.kudos_modal[aria-hidden="false"] .kudos_modal_container {
  animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.kudos_modal[aria-hidden="true"] .kudos_modal_overlay {
  animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.kudos_modal[aria-hidden="true"] .kudos_modal_container {
  animation: slideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

// Animations

@keyframes loader-spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

@keyframes tabIn {
  0%{
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes slideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
