@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wp-admin-theme-color: theme('colors.orange.500');
  --wp-admin-theme-color-darker-10: theme('colors.orange.500');
  --wp-admin-theme-color-darker-20: theme('colors.orange.700')
}

.kudos-intro-guide {
  overflow: visible;
  width: 352px;

  .kd-intro-container {
    padding: 0 32px;
  }
}

.components-radio-control__input::before,
.components-circular-option-picker__option::after,
.components-modal__frame *,
.components-modal__frame ::after,
.components-modal__frame ::before {
  box-sizing: inherit;
}

.components-base-control {
  @apply kd-mb-4;
}

.components-panel__body>.components-base-control {
  @apply kd-pb-3;
  &:last-child {
    margin-bottom: 8px;
  }
}

#wpcontent {
  padding-left: 0;
}

.auto-fold {
  #wpcontent {
    padding-left: 0;
  }
}

.kudos-dashboard-header {

  top: 32px;

  .kudos-api-status {

    &:before {
      @apply kd-rounded-full kd-inline-block kd-align-middle kd-mr-2 kd-border-2 kd-border-solid kd-border-gray-300 kd-bg-gray-500;
      content: '';
      width: 15px;
      height: 15px;
    }

    &.connected {
      color: green;

      &:before {
        background: #35ac35;
        border-color: #90ee90;
      }
    }

    &.not-connected {
      color: red;

      &:before {
        background: red;
        border-color: lightcoral;
      }
    }
  }
}

#kudos-settings {

  // WordPress Components
  .components-base-control__help {
    @apply kd-mt-4 kd-mb-0 kd-italic;
  }

  .components-tab-panel__tabs,
  .components-panel {
    @apply kd-border-solid kd-border kd-border-gray-300;
  }

  .components-snackbar {
    @apply kd-fixed kd-px-4 kd-ml-5 kd-mb-5 kd-w-auto kd-z-1 kd-opacity-0 kd-bottom-0;

    &.notification-shown {
      @apply kd-opacity-100;
    }
  }

  .kudos-tab-panel {

    .components-tab-panel__tabs {
      @apply kd-flex kd-justify-center kd-bg-white;

      .components-button.is-active {
        @apply kd-relative kd-font-semibold;
      }

      .components-button {
        @apply kd-text-gray-800 kd-inline-block kd-bg-transparent kd-border-none kd-cursor-pointer kd-py-1 kd-px-5 kd-ml-0 kd-transition-shadow kd-duration-100 kd-ease-linear;
        height: 50px;
        outline-offset: -1px;
      }
    }

    .components-tab-panel__tab-content {
      @apply kd-mt-5;
    }
  }

}

.intro-guide__heading {
  margin: 0 0 16px;
  padding: 0 32px;
}
