.kudos_button {
  a {
    background: #9b51e0;
    border: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

    .fa-hand-holding-heart {
      transition: transform 0.4s ease;
      //font-size: 18px;
    }

    &:hover {
      color: #fff;

      .fa-hand-holding-heart {
        transform: rotate(10deg);
      }
    }
  }

  .kudos_block_button_block__label {
    margin-left: 12px;
  }
}
