@tailwind base;
@tailwind components;
@tailwind utilities;

button.kudos_button_donate {
  * {
    all: unset;
  }

  &:hover,
  &:focus,
  &:active {
    @apply text-white no-underline;
  }

  @apply w-auto h-auto inline-flex items-center text-center text-white select-none py-3 px-5 normal-case no-underline leading-normal font-normal rounded-lg border-none cursor-pointer;

  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.style-1 {
    background: theme('colors.orange.500');
    &:focus,
    &:active {
      background: theme('colors.orange.500');
    }
  }

  &.style-2 {
    background: theme('colors.green.500');
    &:focus,
    &:active {
      background: theme('colors.green.700');
    }
  }

  .kudos_logo {
    background: url("../img/logo-white.svg") no-repeat center;
    background-size: contain;
    width: 25px;
    height: 25px;
    transition: transform 0.6s ease;
  }

  .kudos_button_label {
    margin-left: 12px;
  }

  &:hover,
  &:active {
    .kudos_logo {
      transform: rotate(-90deg);
    }
  }
}