@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wp-admin-theme-color: theme('colors.orange.500');
  --wp-admin-theme-color-darker-10: theme('colors.orange.500');
  --wp-admin-theme-color-darker-20: theme('colors.orange.700')
}

.components-radio-control__input::before,
.components-circular-option-picker__option::after,
.components-modal__frame *,
.components-modal__frame ::after,
.components-modal__frame ::before {
  box-sizing: border-box;
}

.components-base-control {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 8px;
  }
}

#wpcontent {
  padding-left: 0;
}

.auto-fold {
  #wpcontent {
    padding-left: 0;
  }
}

.kudos-dashboard-header {

  .kudos-api-status {

    &:before {
      @apply rounded-full inline-block align-middle mr-2 border-2 border-solid border-gray-300 bg-gray-500;
      content: '';
      width: 15px;
      height: 15px;
    }

    &.connected {
      color: green;

      &:before {
        background: #35ac35;
        border-color: #90ee90;
      }
    }

    &.not-connected {
      color: red;

      &:before {
        background: red;
        border-color: lightcoral;
      }
    }
  }
}

#kudos-settings {

  // WordPress Components
  .components-base-control__help {
    @apply mt-4 mb-0;
  }

  .components-snackbar {
    @apply fixed px-4 ml-5 mb-5 w-auto z-1 opacity-0 bottom-0;

    &.notification-shown {
      @apply opacity-100;
    }
  }

  .kudos-tab-panel {
    .components-tab-panel__tabs {
      @apply flex justify-center bg-white shadow;

      .components-button.is-active {
        @apply relative font-semibold;
      }

      .components-button {
        @apply text-gray-800 inline-block bg-transparent border-none cursor-pointer py-1 px-5 ml-0 font-normal transition-shadow duration-100 ease-linear;
        height: 50px;
        outline-offset: -1px;
      }
    }

    .components-tab-panel__tab-content {
      @apply mt-8;
    }
  }

}

.intro-guide__heading {
  margin: 0 0 16px;
  padding: 0 32px;
}
