.kudos-button {
  display: inline-flex;
  align-items: center;
  border: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;

  &.style-1 {
    background: #2ec4b6;
  }

  &.style-2 {
    background: #ff9f1c;
  }

  .kudos-logo {
    background-image: url("../img/logo-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    transition: transform 0.6s ease;
  }

  .kudos_block_button_block__label {
    margin-left: 12px;
  }

  &:hover,
  &:active {
    .kudos-logo {
      transform: rotate(-90deg);
    }
  }
}
