<div id="{{ modal_id ?: 'kudos_modal-1' }}" class="kudos_modal {{ classes }} absolute" aria-hidden="true">
    <div class="kudos_modal_overlay flex justify-center items-center fixed top-0 left-0 w-full h-full bg-modal z-1050" tabindex="-1">
        <div class="kudos_modal_container bg-white p-8 rounded-lg max-h-screen max-w-lg relative overflow-hidden" role="dialog" aria-modal="true" aria-labelledby="kudos_modal_title">
            <header class="kudos_modal_header flex items-center justify-between">
                <div class="kudos_modal_logo"></div>
                <button class="kudos_modal_close text-2xl cursor-pointer" aria-hidden="true" data-micromodal-close aria-label="Close modal">
                    &times;
                </button>
            </header>
            <div class="kudos_modal_content mt-4 block">
                    <p class="kudos_modal_text">
                        <small class="kudos_error_message error"></small>
                    </p>
                    {% block content %}
                    {% endblock content %}
            </div>
        </div>
    </div>
</div>