<div id="{{ modal_id ?: 'kudos_modal-1' }}" class="kudos_modal {{ classes }} kd-absolute kd-hidden" aria-hidden="true">
    <div class="kudos_modal_overlay kd-flex kd-justify-center kd-items-center kd-fixed kd-top-0 kd-left-0 kd-w-full kd-h-full kd-bg-modal kd-z-1050"
         tabindex="-1">
        <div data-page="1"
             class="kudos_modal_container kd-bg-white kd-p-8 kd-rounded-lg kd-max-h-screen kd-max-w-lg kd-relative kd-overflow-hidden"
             role="dialog" aria-modal="true" aria-labelledby="kudos_modal_title">
            <header class="kudos_modal_header kd-flex kd-items-center kd-justify-between">
                <a target="_blank" href="https://kudosdonations.com">
                    <div class="kudos_modal_logo"></div>
                </a>
                {% block header %}
                {% endblock header %}
                <input type="button"
                       class="kudos_modal_close hover:kd-no-underline hover:kd-bg-transparent focus:kd-shadow-focus focus:kd-outline-none kd-text-2xl kd-cursor-pointer"
                       aria-hidden="true" data-micromodal-close aria-label="Close modal" value="&times;">
            </header>
            <div class="kd-mt-4 kd-block">
                <p class="kd-text-center kd-block kd-font-normal kd-mb-4">
                    <small class="kudos_error_message kd-text-sm kd-text-red-500"></small>
                </p>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>