<div id="{{ modal_id }}" class="kudos_modal {{ classes }}" aria-hidden="true">
    <div class="kudos_modal_overlay" tabindex="-1" data-micromodal-close>
        <div class="kudos_modal_container" role="dialog" aria-modal="true" aria-labelledby="kudos_modal-title">
            <header class="kudos_modal_header">
                <div class="kudos_modal_logo"></div>
                <button class="kudos_modal_close" aria-hidden="true" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <div class="kudos_modal_content">
                    <h2 class="kudos_modal_title">
                        {% block header %}{% endblock header %}
                    </h2>
                    <p class="kudos_modal_text">
                        {% block text %}{% endblock text %}
                    </p>
                    <p class="kudos_modal_text"><small class="kudos_error_message error"></small></p>
                <footer class="kudos_modal_footer">
                    {% block footer %}
                    {% endblock footer %}
                </footer>
            </div>
            <i class="kudos_spinner"></i>
        </div>
    </div>
</div>