<div id="{{ modal_id }}" class="kudos_modal" aria-hidden="true">
    <div class="kudos_modal_overlay" tabindex="-1" data-micromodal-close>
        <div class="kudos_modal_container" role="dialog" aria-modal="true" aria-labelledby="kudos_modal-title">
            <header class="kudos_modal_header">
                <div class="kudos_modal_logo"></div>
                <button class="kudos_button kudos_modal_close" aria-hidden="true" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <div id="kudos_modal_content" class="kudos_modal_content mt-4">
                <div class="text-center">
                    <h2 id="kudos_modal_title" class="font-normal">
                        {% block title %}{% endblock title %}
                    </h2>
                    <p id="kudos_modal_text">
                        {% block text %}{% endblock text %}
                    </p>
                    <small class="kudos_error_message error"></small>
                </div>
                <footer class="kudos_modal_footer">
                    {% block footer %}
                    {% endblock footer %}
                </footer>
            </div>
            <i class="kudos_spinner"></i>
        </div>
    </div>
</div>