{% extends 'public/modal/base.html.twig' %}
{% set class = 'kudos-message-modal' %}
{% from "/public/macros/buttons.html.twig" import button %}
{% from "/public/macros/text.html.twig" import title, paragraph %}

{% block content %}

    {{ title(modal_title) }}
    {{ paragraph(modal_text) }}

    <div class="kudos-modal-buttons kd-mt-8 kd-block kd-text-right">
        {{ button(__('Ok', 'kudos-donations'), 'primary', 'button', {'data-micromodal-close': ''}) }}
    </div>

{% endblock content %}