{% extends 'public/modal/base.html.twig' %}
{% set classes = 'kudos_message_modal' %}
{% from "/public/modal/macros/buttons.html.twig" import button %}
{% from "/public/modal/macros/text.html.twig" import title, paragraph %}

{% block content %}

    {{ title(modal_title) }}
    {{ paragraph(modal_text) }}

    <div class="kudos_modal_buttons kd-mt-8 kd-block kd-text-right">
        {{ button(__('Ok', 'kudos-donations'), 'primary', 'button', {'data-micromodal-close': ''}) }}
    </div>

{% endblock content %}