{% extends 'public/modal/base.html.twig' %}
{% set classes = 'kudos_message_modal' %}

{% block content %}
    {% embed '/public/modal/partials/_header.html.twig' %}
        {% block title %}
            {{ title }}
        {% endblock %}
        {% block text %}
            {{ text }}
        {% endblock %}
    {% endembed %}

    <div class="kudos_modal_buttons mt-8 block text-right">
        <button class="kudos_button kudos_button_primary" type="button" data-micromodal-close aria-label="Close this dialog window">Ok</button>
    </div>
{% endblock content %}